body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: blue;
  &::after, &::before {
    content: "";
    display: table;
    clear: both;
  }
}

.grid-3 {
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  float: left;
}